In [ ]:
#1. Write a Python program to create a tuple.

In [1]:
x = ()
print("User define tuple : ",x)

#Create an empty tuple with tuple() function built-in Python
tuplex = tuple()
print("Using built-in function : ",tuplex)

User define tuple :  ()
Using built-in function :  ()

In [ ]:
#2. Write a Python program to create a tuple with different data types

In [3]:
tup = ("tuple", False, 3.2, 1)
print("Tuple with different data types : ",tup)

Tuple with different data types :  ('tuple', False, 3.2, 1)

In [ ]:
#3. Write a Python program to create a tuple with numbers and print one item.

In [6]:
t1 = 5, 10, 15, 20, 25
print("Tuple with numbers : ",t1)
print("Just printing one item : ",t1[2])

Tuple with numbers :  (5, 10, 15, 20, 25)
Just printing one item :  15

In [ ]:
#4. Write a Python program to unpack a tuple in several variables.

In [7]:
fruits = ('apple','banana','cherry')
(green,yellow,red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
#5. Write a Python program to add an item in a tuple.

In [13]:
x = ('apple','cherry','kiwi')
print("Original tuple : ",x)
y = list(x)
y.append('orange')
x = tuple(y)
print("After adding an item tuple is :",x)

Original tuple :  ('apple', 'cherry', 'kiwi')
After adding an item tuple is : ('apple', 'cherry', 'kiwi', 'orange')

In [ ]:
#6. Write a Python program to convert a tuple to a string.

In [16]:
tup = ('P','y','t','h','o','n')
str =  ''.join(tup)
print("String is :",str)

String is : Python

In [ ]:
#7. Write a Python program to get the 4th element and 4th element from last of a
tuple.

In [20]:
#      0   1  2  3  4  5
tup = (11,22,33,44,55,66)
#      -6 -5 -4 -3 -2 -1
print("4th element from start : ",tup[4])
print("4th element from end : ",tup[-4])

4th element from start :  55
4th element from end :  33

In [ ]:
#8. Write a Python program to reverse a tuple.

In [25]:
x = (11,22,33,44,55,66)
print("Original tuple : ",x)
y = reversed(x)
print("Original tuple : ",tuple(y))

Original tuple :  (11, 22, 33, 44, 55, 66)
Original tuple :  (66, 55, 44, 33, 22, 11)

In [ ]:
#9. Write a Python program to find the repeated items of a tuple

In [26]:
tup = 2, 4, 5, 6, 2, 3, 4, 4, 7 
print("Original tuple : ",tup)
#return the number of times it appears in the tuple.
count = tup.count(4)
print("Repeated items of tuple :",count)

Original tuple :  (2, 4, 5, 6, 2, 3, 4, 4, 7)
Repeated items of tuple : 3

In [ ]:
#10. Write a Python program to check whether an element exists
within a tuple.

In [29]:
t1 = ("a", 3, "p", "p", "l", "e")
print("Its exist in tuple : ","p" in t1)
print("Its not exist in tuple : ",5 in t1)

Its exist in tuple :  True
Its not exist in tuple :  False

In [ ]:
#11. Write a Python program to convert a list to a tuple

In [31]:
lst = [15, 10, 40, 4, 95, 33]
print("Its List type collection : ",lst)
tup = tuple(lst)
print("Its Tuple type collection : ",tup)

Its List type collection :  [15, 10, 40, 4, 95, 33]
Its Tuple type collection :  (15, 10, 40, 4, 95, 33)

In [ ]:
#12. Write a Python program to remove an item from a tuple.

In [33]:
x = ('apple','cherry','kiwi')
print("Original tuple : ",x)
y = list(x)
y.remove('kiwi')
x = tuple(y)
print("After removing tuple is :",x)

Original tuple :  ('apple', 'cherry', 'kiwi')
After removing tuple is : ('apple', 'cherry')

In [ ]:
#13. Write a Python program to slice a tuple.

In [34]:
tup = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)

#slicing from start:end
slc = tup[3:5]
print(slc)

#if the start index isn't defined, is taken from the beginning of the tuple
slc = tup[:6]
print(slc)

#if the end index isn't defined, is taken until the end of the tuple
slc = tup[5:]
print(slc)

##if neither is defined, returns the full tuple
slc = tup[:]
print(slc)

##The indexes can be defined with negative values
slc = tup[-8:-4]
print(slc)

(5, 4)
(2, 4, 3, 5, 4, 6)
(6, 7, 8, 6, 1)
(2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
(3, 5, 4, 6)

In [ ]:
14. Write a Python program to find the index of an item of a tuple.

In [35]:
#index()= give 1st position of that given element
        #  0   1   2   3   4
vowels = ('a','e','i','o','u')
index = vowels.index('e')
print("Index of 'e' :",index)

Index of 'e' : 1

In [ ]:
15. Write a Python program to find the length of a tuple.

In [38]:
tup = tuple(('apple','cherry','kiwi'))
print("Length of tuple is :",len(tup))

Length of tuple is : 3

In [ ]:
16. Write a Python program to sort list of tuple based on sum
 #Input: [(4, 5), (2, 3), (6, 7), (2, 8)]
 #Output: [(2, 3), (4, 5), (2, 8), (6, 7)]

In [40]:
#by using lambda as key to the list of tuples.
Input = [(4, 5), (2, 3), (6, 7), (2, 8)] 
print("The original list of tuple is :",Input)
print("The Output is :",sorted(Input, key = lambda x:x[0] + x[1]))

The original list of tuple is : [(4, 5), (2, 3), (6, 7), (2, 8)]
The Output is : [(2, 3), (4, 5), (2, 8), (6, 7)]