In [ ]:
#1. WAP to print even numbers from 121 to 229 using for loop.

In [5]:
print("Even numbers from 121 to 229 are:")
for i in range(121,229):
    if i % 2==0:
        print(i,end=" ")

Even numbers from 121 to 229 are:
122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200 202 204 206 208 210 212 214 216 218 220 222 224 226 228

In [ ]:
#2. WAP to print odd numbers from 521 to 229 using while loop.

In [6]:
i = 529
while i >= 229:
    print(i,end= " ")
    i = i-2

529 527 525 523 521 519 517 515 513 511 509 507 505 503 501 499 497 495 493 491 489 487 485 483 481 479 477 475 473 471 469 467 465 463 461 459 457 455 453 451 449 447 445 443 441 439 437 435 433 431 429 427 425 423 421 419 417 415 413 411 409 407 405 403 401 399 397 395 393 391 389 387 385 383 381 379 377 375 373 371 369 367 365 363 361 359 357 355 353 351 349 347 345 343 341 339 337 335 333 331 329 327 325 323 321 319 317 315 313 311 309 307 305 303 301 299 297 295 293 291 289 287 285 283 281 279 277 275 273 271 269 267 265 263 261 259 257 255 253 251 249 247 245 243 241 239 237 235 233 231 229

In [ ]:
#3. WAP to show the use of break statement ( in for loop)

In [10]:
for num in range(1,11):
    if num % 5 == 0:
        break
    print(num)

1
2
3
4

In [ ]:
#4. WAP to find GCD and LCM of given number

In [6]:
a = int(input("Enter value a:"))#8
b = int(input("Enter value b:"))#16

#to find gcd:
gcd = 1
for i in range (1,a+1):
    if a % i == 0 and b % i == 0:
        gcd = i
print("Greatest common divisor is:",gcd)

#to find lcm:
lcm = a * b // gcd
print("Least common multiple is:",lcm)

Enter value a:8
Enter value b:16
Greatest common divisor is: 8
Least common multiple is: 16

In [ ]:
#5. Write a Python program to print all alphabets from a to z using for loop

In [14]:
#ascii table: ascii of a= 97 and ascii of z = 122, so need to take 123 

for i in range (97,123):
    print (chr(i),end = " ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [ ]:
#6. Write a Python program to find sum of all even numbers between 1 to n.

In [20]:
n = int(input("Enter the number:"))
sum = 0
for i in range (1,n):
    if i % 2 == 0:
        sum = sum + i
print("Sum of all even numbers between 1 to",n-1,"is:",sum)

Enter the number:101
Sum of all even numbers between 1 to 100 is: 2550

In [ ]:
#7. Write a Python program to find sum of all odd numbers between 1 to n.

In [26]:
n = int(input("Enter the number:"))
sum = 0
for i in range (1,n):
    if i % 2 != 0:
        sum = sum + i
print("Sum of all odd numbers between 1 to",n-1,"is:",sum)

Enter the number:101
Sum of all odd numbers between 1 to 100 is: 2500

In [ ]:
#8. Write a Python program to count number of digits in any number.

In [35]:
n = int(input("Enter the number:"))
count = 0
while (n > 0):
    count = count + 1
    n = n // 10
print("The number of digits in the number are:",count)

Enter the number:123456
The number of digits in the number are: 6

In [ ]:
#9. Write a Python program to calculate product of digits of any number.

In [39]:
n = int(input("Enter the number:"))
prod = 1
while (n > 0):
    prod = prod * (n % 10) #3,15,60
    n = n // 10
print("Product of digits is :",prod)

Enter the number:4513
Product of digits is : 60

In [ ]:
#10. Write a Python program to find frequency of each digit in a given integer.

In [40]:
num = int(input("Enter the number:"))
print("Frequency of digit is :")
for i in range(0,10):
    count = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        if digit == i:
            count = count + 1
        temp = temp // 10
    if count > 0:
        print(i,"\t",count)

Enter the number:1234123
Frequency of digit is :
1 	 2
2 	 2
3 	 2
4 	 1

In [ ]:
#11. Find all prime number between 400 to 300

In [18]:
print("Prime numbers between 300 to 400 are:")
flag = True
for num in range(300,401):
    flag = True
    #all prime numbers are greater than 1
    if num > 1:
        for i in range(2,num):
            if (num % i) == 0:
                flag = False
                break
        if flag == True:
            print(num, end=" ")

Prime numbers between 300 to 400 are:
307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397

In [ ]:
#12. WAP to print table of given number

In [50]:
num = int(input("Enter the number:"))
for i in range (1,11):
    print(num,"x",i,"=", num*i)

Enter the number:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#13. WAP to print squares from 1 to20

In [3]:
for i in range (1,21):
    print(i,"-->",pow(i,2))

1 --> 1
2 --> 4
3 --> 9
4 --> 16
5 --> 25
6 --> 36
7 --> 49
8 --> 64
9 --> 81
10 --> 100
11 --> 121
12 --> 144
13 --> 169
14 --> 196
15 --> 225
16 --> 256
17 --> 289
18 --> 324
19 --> 361
20 --> 400

In [ ]:
#14. WAP to accept base and index from user and calculates power

In [4]:
base = int(input("Enter the number:"))
index = int(input("Enter the number:"))
for i in range(base,index):
    print("Power is:",pow(base,index))

Enter the number:2
Enter the number:3
Power is: 8

In [ ]:
#15. 1!+2!+3!.........+n! find sum

In [10]:
num = int(input("Enter the number:"))
sum = 0
fact = 1
for k in range (1,num+1):
    fact = 1
    for i in range (1,k+1):
        fact = fact * i
    sum = sum + fact
print("Sum of factorial is:",sum)
    
    #1!= 1    2!=1*2=2   3!=1*2*3=6    4!=1*2*3*4=24     24+6+2+1=33

Enter the number:4
Sum of factorial is: 33

In [ ]:
#16. WAP to check given no is Krishnamurthy or not
#eg) 153=1!+5!+3!=153

In [4]:
num = int(input("Enter the number:"))
temp = num
sum = 0
while (temp > 0):
    rem = temp % 10
    fact = 1
    for i in range (1,rem+1):
        fact = fact * i
    sum = sum + fact
    temp = temp // 10
if (num == sum):
    print("It's krishnamurthy number")
else:
    print("It's not krishnamurthy number")

Enter the number:235
It's not krishnamurthy number

In [ ]:
#17. WAP to check given no is palindrome or not. Original =Reverse
#Eg 122

In [11]:
num = int(input("Enter the number:"))
temp = num
rev = 0
while (temp > 0):
    ld = temp % 10
    rev  = rev * 10 + ld
    temp = temp // 10
if (num == rev):
    print(num,"is palindrome")
else:
    print(num,"is not palindrome")

Enter the number:1221
1221 is palindrome

In [ ]:
#18. WAP to check given no is automorphic or not
 #input n=25
 #output Automorphic
#as 25*25=625

In [26]:
num = int(input("Enter the number:"))#25
num_of_digits =len(str(num))         #3
#print(num_of_digits)

square = num ** 2                   #625
#print(square)

#obtaining the last digits:
ld = square % pow(10,num_of_digits) #625 % pow(10,3)  = 625 % 1000 = 0.625

if ld == num:
    print(num,"is automorphic number")
else:
     print(num,"is not automorphic number")
        
        
# automorphic numbers are: 25,76

Enter the number:25
25 is automorphic number

In [ ]:
#19. WAP to find given number is Harshad/Niven number or not
# An harshad number is an integer number divisible by sum of its digit 
 #Eg 18 sum=9 and 18 is divisible by 9

In [6]:
num = int(input("Enter the number:"))
rem = sum =0
temp = num
while (temp > 0):
    rem = temp % 10
    sum = sum + rem
    temp = temp // 10
if (num % sum == 0):
    print(num,"is harshad number")
else:
    print(num,"is not harshad number")
    
#Harshad numbers are :18,54,120
#18= 1+8 =9      #33= 3+3=6
#18//9 =2        #33//6 =5.5

Enter the number:33
33 is not harshad number

In [ ]:
#20. Print all palindrome numbers from 100 to 500

In [15]:
minimum = int(input("Enter the Minimum Value : "))
maximum = int(input("Enter the Maximum Value : "))

print("Palindrome Numbers between %d and %d are : " %(minimum, maximum))
for num in range(minimum, maximum + 1):
    temp = num
    reverse = 0
    
    while(temp > 0):
        Reminder = temp % 10
        reverse = (reverse * 10) + Reminder
        temp = temp //10

    if(num == reverse):
        print("%d " %num, end = '  ')

Enter the Minimum Value : 100
Enter the Maximum Value : 500
Palindrome Numbers between 100 and 500 are :
101   111   121   131   141   151   161   171   181   191   202   212   222   232   242   252   262   272   282   292   303   313   323   333   343   353   363   373   383   393   404   414   424   434   444   454   464   474   484   494